//TO ALIGN SING COMPONENT
@mixin center {
    display: grid;
    place-items: center;
}

//To ALIGN TWO COMPONENTS
@mixin flexing($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//FONTS
@font-face {
    font-family: 'Barlow-Bold';
    src: url('/public/fonts/BarlowSemiCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Barlow-ExBold';
    src: url('/public/fonts/BarlowSemiCondensed-ExtraBold.ttf');
}

@mixin fonting($size, $family) {
    font: $size $family;
}

//SET BACKGROUND
@mixin setBackground($src, $gradinetStart, $gradientEnd){
    background: url($src) center/35% no-repeat,
    radial-gradient(circle at left 50% bottom 44%, #fff 68%, #d6d6d6 35%) content-box,
    radial-gradient(circle at left 50% top 44%, $gradinetStart 69%, $gradientEnd 35%) padding-box;
}