* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.appContainer {
  min-width: 375px;
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("/public/fonts/BarlowSemiCondensed-Bold.ttf");
}
@font-face {
  font-family: "Barlow-ExBold";
  src: url("/public/fonts/BarlowSemiCondensed-ExtraBold.ttf");
}
.overlayPage {
  position: absolute;
  inset: 0 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.overlayPage .box {
  aspect-ratio: 4/4.7;
  padding: 2rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.overlayPage .box nav {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.overlayPage .box nav h1 {
  font: 2rem "Barlow-Bold";
  color: hsl(229, 25%, 31%);
}
.overlayPage .box nav button {
  border: none;
  background: url("/public/images/icon-close.svg") center/cover no-repeat;
  width: 1.2rem;
  height: 1.2rem;
}

@media (width <= 425px) {
  .overlayPage {
    display: block;
  }
  .overlayPage .box {
    padding-top: 6rem;
    padding-bottom: 4rem;
    min-height: 100vh;
    border-radius: unset;
    aspect-ratio: unset;
    display: grid;
    place-items: center;
  }
  .overlayPage .box nav {
    flex-direction: column;
    min-height: calc(100vh - 10rem);
    margin-bottom: 0;
  }
  .overlayPage .box img {
    width: calc(100% - 4rem);
    position: absolute;
    top: 30%;
  }
}
.gamePage {
  height: 100dvh;
  background-image: radial-gradient(circle at top, hsl(214, 70%, 30%) 40%, hsl(237, 49%, 15%));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem;
}
.gamePage .leadBoard {
  width: clamp(20rem, 100vw - 2rem, 50rem);
  border: 4px solid hsl(217, 30%, 50%);
  border-radius: clamp(5px, 2vw, 1rem);
  padding: 1rem clamp(1rem, 4vw, 2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.gamePage .leadBoard img {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.gamePage .leadBoard .scoreContainer {
  width: 30%;
  padding: clamp(0.5rem, 2vw, 1rem) 0;
  background-color: #fff;
  border-radius: clamp(5px, 1vw, 0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.gamePage .leadBoard .scoreContainer h2 {
  font: clamp(15px, 4vw, 1.5rem) "Barlow-Bold";
  color: hsl(229, 64%, 46%);
  letter-spacing: clamp(2px, 0.5vw, 5px);
}
.gamePage .leadBoard .scoreContainer h1 {
  font: clamp(2rem, 10vw, 4.5rem) "Barlow-Bold";
  color: hsl(229, 25%, 31%);
  transform: scaleY(1.2);
}
.gamePage .gameBtnContainer {
  border: 2px solid blue;
  height: 3rem;
}

.hide {
  display: none;
}